/* CSS Document */
* {
    margin: 0;
    padding: 0;
    text-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img {
    border: medium none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body, button, input, select, textarea {
    font: 12px/1.5 Microsoft Yahei, Arial;
}

body {
    color: #666666;
    max-width: 640px;
    margin: 0 auto;
    background: #ffffff url(../images/geometry2.png) repeat;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

em {
    font-style: normal;
}

img {
    max-height: 100%;
    border: none;
}

ul, ol, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

input, img {
    vertical-align: middle;
    outline: none;
}

a, a:link {
    color: #555555;
    text-decoration: none;
}

a:active, a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}

a:hover {
    color: #666666
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.m_conter {
    height: auto;
    margin: 0 auto;
    max-width: 640px;
    width: 100%;
    min-width: 320px;
}

/**logo**/
#logo img {
    width: 100%
}

/**banner**/
.slideBox {
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    max-width: 640px;
}

.slideBox .hd {
    position: relative;
    height: 21px;
    line-height: 21px;
    top: 4px;
    right: 0;
    z-index: 1;
    text-align: center;
}

.slideBox .hd li {
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #c2bebe;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 6px;
    cursor: pointer;
}

.slideBox .hd li.on {
    background: #029d82;
}

.slideBox .hd li {
    width: 11px;
    height: 11px;
}

@media (max-width: 480px) {
    .slideBox {
        margin-top: 55px;
    }
}

@media (min-width: 480px) {
    .slideBox {
        margin-top: 93px !important;
    }
}

/*title*/
.title {
    width: 100%;
    margin: 5% auto 3%;
    text-align: center;
}

.title h3 {
    font-size: 0.28rem;
    color: #118379;
}

.title p {
    font-size: 0.12rem;
    color: #c5c5c5;
}

/* nav */
.nav {
    margin-top: 0.34rem
}

.nav ul li {
    float: left;
    margin-left: 9%;
    position: relative;
    text-align: center;
    width: 0.69rem
}

.nav ul li a {
    display: block;
    width: 0.69rem
}

.nav ul li p {
    text-align: center;
    width: 0.69rem;
}

.nav ul li:first-child {
    margin-left: 4%
}

.nav ul:last-child {
    margin-top: 9%
}

.nav ul li p {
    font-size: 0.20rem;
    white-space: nowrap;
    margin: 0.05rem 0 0 -0.01rem
}

.nav img {
    width: 100%
}

/* tit */
.tit {
    position: relative
}

.tit .tit_bg {
    background-color: #f2f2f2;
    height: 0.75rem;
    width: 100%;
}

.tit .tit_left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 31%
}

.tit .tit_icon {
    position: absolute;
    top: 0;
    right: 5%;
    width: 4%;
    line-height: 0.75rem;
}

.tit p {
    width: 97%;
    text-align: center;
    font-size: 0.24rem;
    color: #333333;
    line-height: 0.75rem;
    margin-left: 0.2rem
}

.tit img {
    width: 100%
}

/**ҽԺ��Ϣ**/
.part1 .content .u3 {
    margin-top: 5%
}

.part1 .content .u3 li {
    border: 1px solid #039d83;
    width: 33%;
    float: left;
    height: 0.64rem;
    position: relative
}

.part1 .content .u3 li:nth-child(2) {
    border-right: none;
    border-left: none
}

.part1 .content .u3 li a {
    font-size: 0.24rem;
    color: #039d83;
    text-align: center;
    display: block;
    line-height: 0.64rem;
    height: 0.63rem
}

.part1 .content .u3 li a img {
    width: 14%;
    margin-right: 5%
}

.part1 .content .u3 .on {
    background-color: #039d83
}

.part1 .content .u3 .on .a1 {
    display: none
}

.part1 .content .u3 .on .a2 {
    color: #fff;
    display: block;
}

.part1 .content .u3 .on i {
    /*background: url('../images/part1_9.png') no-repeat center center;*/
    background-size: auto 100%;
    display: block;
    position: absolute;
    bottom: -0.09rem;
    width: 100%;
    height: 0.08rem
}

.part1 .content .u3 li .d1 {
    position: absolute;
    bottom: -15%;
    left: 0;
    right: 0;
    width: 0.17rem;
    margin: auto
}

.part1 .content .u3 li .a2 {
    display: none
}

.part1 .content .text2 {
    width: 90%;
    margin: 5% auto
}

.part1 .content .text2 > li {
    display: none
}

.news_nr {
    width: 100%;
}

.news_nr li {
    border-bottom: 1px dashed #ccc;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 8px;
}

.news_nr li a img {
    margin-top: -5px;
    margin-right: 5px;
}

.news_nr li a {
    color: #555;
    line-height: 28px;
    font-size: 15px;
}

.news_nr h2 img {
    display: block;
    margin: 12px auto;
}

.dt01 {
    width: 100%;
}

.dt01 img {
    width: 28%;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    border: 1px solid #32b194
}

.dt01 span a {
    color: #32b194;
    font-size: 21px;
    width: 65%;
    padding: 10px auto;
}

.dt01 p {
    font-size: 15px;
    line-height: 22px;
    line-height: 23px;
    margin-bottom: 5px;
}

@media (max-width: 480px) {
    .dt01 img {
        width: 40%;
        margin-left: 3px
    }

    .title .bt span {
        font-size: 16px;
    }

    .title .bt a {
        font-size: 14px;
    }

    .dt01 span a {
        font-size: 18px;
    }

    .dt01 p {
        font-size: 14px;
        padding: 5px;
    }
}

.dt01 p a {
    color: #f4850f;
    font-size: 1.0em
}

/*ר��*/
.part1 {
    margin-top: 0.4rem;
    width: 100%;
}

.part1 .content {
    margin-top: 3%
}

.part1 .content .text {
    width: 97%;
    margin: 0 auto
}

.part1 .content .d1 {
    width: 46%;
    float: left;
    margin-left: 3%
}

.part1 .content .d1 img {
    width: 100%
}

.part1 .content .d2 {
    width: 50%;
    float: left;
}

.part1 .content .d2 h3 {
    color: #039d83;
    font-size: 0.50rem;
    width: 100%;
    text-align: center;
    margin-top: 3%
}

.part1 .content .d2 h3 span {
    font-size: 0.2rem;
    color: #999999;
    margin-left: 2%
}

.part1 .content .u1 {
    background-color: #f2f2f2;
    height: 2.35rem;
    width: 100%;
    margin-top: 5%;
    padding: 4% 0 0 6%;
    position: relative
}

.part1 .content .u1 li {
    font-size: 0.22rem;
    margin-top: 3%
}

.part1 .content .u1 li p {
    font-size: 0.25rem;
    padding-left: 7px;
}

.part1 .content .u1 li p span {
    font-size: 0.27rem;
    color: #039d83;
}

.part1 .content .u1 li span {
    color: #039d83;
}

.part1 .content .u1 li:last-child {
    background-color: #fe9f21;
    position: absolute;
    bottom: -10%;
    left: 0;
    right: 0;
    width: 62%;
    margin: auto
}

.part1 .content .u1 li:last-child a {
    display: block;
    width: 2.11rem;
    height: 0.48rem;
    font-size: 0.22rem;
    color: #fff;
    text-align: center;
    line-height: 0.48rem
}

.part1 .content .u1 li:last-child a span {
    margin-left: 4%
}

.part1 .content .u1 li:last-child a span img {
    width: 12%
}

.zj {
    position: relative;
}

.zj .prev {
    display: block;
    width: 0.22rem;
    height: 0.7rem;
    position: absolute;
    top: 1.42rem;
    left: 0;
    z-index: 4
}

.zj .next {
    display: block;
    width: 0.22rem;
    height: 0.7rem;
    position: absolute;
    top: 1.42rem;
    right: 0.02rem;
    z-index: 4
}

.zj .zhuanjia1 {
    width: 2.09rem;
    height: 3.2rem;
    border: 0.01rem solid #d9d9d9;
    float: left;
    margin-left: 0.04rem !important;
}

.zj .zhuanjia1:first-child {
    margin-left: 0;
}

.zj .zhuanjia1 img {
    float: left;
    width: 1.56rem;
    height: 1.56rem;
    margin-top: 0.17rem;
    margin-left: 0.17rem;
}

.zj .zhuanjia1 p {
    width: 1.95rem;
    text-align: center;
    font-size: 0.24rem;
    margin-top: 0.06rem;
    color: #070707;
}

.zj .zhuanjia1 p span {
    font-size: 0.18rem;
}

.zj .zhuanjia1 h2 {
    width: 1.95rem;
    height: 0.62rem;
    background: #039d83;
    margin-top: 0.1rem;
    color: #fff;
    text-align: center;
    font-size: 0.2rem;
    padding-top: 0.06rem;
    letter-spacing: 0.01rem;
}

.zj .zhuanjia1 .zi {
    width: 1.95rem;
    line-height: 0.35rem;
    color: #d3144a;
    text-align: center;
    font-size: 0.2rem
}

.zj .zhuanjia1 .wrapper1 {
    width: 1.77rem;
    margin: 0 auto;
    overflow: hidden
}

.zj .zhuanjia1 .wrapper1 a {
    width: 0.77rem;
    height: 0.28rem;
    display: block;
    text-align: center;
    line-height: 0.28rem;
    border-radius: 0.04rem;
    background: #039d83;
    float: left;
    font-size: 0.18rem;
    color: #fff;
}

.part3 {
    margin-top: 0.6rem;
}

.con_YuYue {
    padding: 2% 0;
    margin-top: 2%;
    font-weight: normal;
    width: 95%;
    margin: 3% auto
}

.con_YuYue form {
    padding: 0% 3% 3% 3%;
}

.con_YuYue form p, .con_YuYue form .p {
    padding: 3%;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    background: #ffffff;
    margin-bottom: 3%;
    font-size: 0.24rem;
    maxont-size: 22px;
    color: #666;
}

;
.con_YuYue form p lable {
    width: 16%;
}

.con_YuYue form p input, .con_YuYue form p select {
    width: 75%;
    background: #edebec;
    font-size: 0.24rem;
    color: #333;
    text-align: center;
    border-radius: 5px;
    outline: none;
}

.con_YuYue form .p lable {
    width: 26%;
    vertical-align: middle;
}

.con_YuYue form .p #age_sel_22 {
    width: 63%;
    vertical-align: middle;
    display: inline-block
}

.con_YuYue form .submit {
    text-align: center;
    margin-left: 29%;
    width: 42.5%;
    font-size: 0.28rem;
    background: #ff9a00;
    max-font-size: 22px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.klg_wrap {
    border-radius: 20px;
    box-shadow: 0px 0px 10px #94afbb;
    padding-top: 4%
}

#btn input {
    width: 2.3rem;
    height: .64rem;
    text-align: center;
    text-indent: 0px;
    float: left;
    border-radius: .1rem;
    font-size: .32rem;
    color: #FFF;
    margin-top: .24rem;
}

#btn {
    width: 5.8rem;
    height: 1.0rem;
    padding-left: 0.3rem
}

/* footer �ֻ�վ��β�� */
.footer {
    width: 100%;
    float: left;
    background: #e1fbf7;
}

.foots {
    width: 100%;
    margin: 0 auto;
}

.foots table {
    margin: 0 auto;
}

.foots p {
    font-size: 22px;
    margin: 20px auto 10px;
    color: #02806a;
    text-align: center;
}

.foots td {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #2e3030;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-size: 16px;
}

@media (max-width: 480px) {
    .foots td {
        font-size: 12px;
    }
}

.foot02 {
    width: 100%;
    margin: 0px auto 40px;
    float: left;
}

.foot02 li {
    width: 50%;
    text-align: center;
    float: left;
}

.foot02 li img {
    margin: 15px auto;
    display: block;
    width: 80%;
}

.foot02 li p {
    font-size: 16px;
    margin: 25px auto 0;
    width: 90%;
    text-align: center;
    line-height: 23px
}

@media (max-width: 480px) {
    .foot02 li img {
        margin: 15px auto;
        display: block;
        width: 100%;
    }

    .foot02 li p {
        font-size: 12px;
        margin: 5px auto 0;
        line-height: 18px
    }
}